# ml zoomcamp
## session 1 homework

In [1]:
# file path
file_path = 'raw.githubusercontent.com_alexeygrigorev_datasets_master_housing.csv'

In [2]:
import pandas as pd

# load using pandas
df = pd.read_csv(file_path)
# preview top rows
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [3]:
# what are the columns
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [4]:
# Question 1: Version of Pandas

print(pd.__version__)

1.1.3

In [5]:
# Question 2: Number of columns in the dataset
num_columns = len(df.columns)
print(num_columns)

10

In [6]:
# Question 3: Select columns with missing data
missing_columns = df.columns[df.isnull().any()]
print(missing_columns)

Index(['total_bedrooms'], dtype='object')

In [7]:
# Question 4: Number of unique values in the 'ocean_proximity' column
unique_values = df['ocean_proximity'].nunique()
print(unique_values)

5

In [8]:
# Question 5: Average value of the 'median_house_value' for the houses near the bay
average_near_bay = df[df['ocean_proximity'] == 'NEAR BAY']['median_house_value'].mean()
print(average_near_bay)

259212.31179039303

In [9]:
# Question 6: Has the mean value changed after filling missing values?

# average of total_bedrooms column
mean_total_bedrooms = df['total_bedrooms'].mean()
#fill missing values with the mean
df['total_bedrooms'].fillna(mean_total_bedrooms, inplace=True)
# average of total_bedrooms again
new_mean_total_bedrooms = df['total_bedrooms'].mean()
# Check if it has changed
has_changed = new_mean_total_bedrooms != mean_total_bedrooms
print(has_changed)

True

Question 7    
- Select all the options located on islands.  
- Select only columns housing_median_age, total_rooms, total_bedrooms.  
- Get the underlying NumPy array. Let's call it X.  
- Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T.   
- Let's call the result XTX.  
- Compute the inverse of XTX.  
- Create an array y with values [950, 1300, 800, 1000, 1300].  
- Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.  
- What's the value of the last element of w?

In [12]:
# Questions 7: Value of the last element of w

# options located on islands
island_data = df[df['ocean_proximity'].str.contains('ISLAND')]
# Select columns
selected_columns = ['housing_median_age', 'total_rooms', 'total_bedrooms']
selected_data = island_data[selected_columns]
# underlying NumPy array (X)
X = selected_data.values
# matrix-matrix multiplication between transpose of X and X (XTX)
import numpy as np
XTX = np.dot(X.T, X)
# inverse of XTX
XTX_inv = np.linalg.inv(XTX)
# Create array y
y = [950, 1300, 800, 1000, 1300]
# Multiply inverse of XTX with transpose of X and multiply by y to get w
w = np.dot(np.dot(XTX_inv, X.T), y)
# value of the last element of w
print(w[-1])

5.699229455065586